git+https://github.com/peteboyd/lammps_interface.git@aa22f825792b033c7207ecec7bb04aa73ebd1ad0

# lammps_tools is needed for a lmp_data_to_xyz script
git+https://github.com/paulboone/lammps_tools

versioneer
